.main-box {

}

.root {
    -fx-focus-color: lightgray;
    -fx-faint-focus-color: lightgray;
}

.button {
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

