# Colors from http://www.color-hex.com/color-palettes/

* {
    -fx-accent: #17c0f2;
}

.root {
    -fx-focus-color: lightgray;
    -fx-faint-focus-color: lightgray;
    -fx-selection-bar: #17c0f2;
}

.main-box {
    -fx-background-color: white;
}

.main-buttons-pane {

}

.buttons-box {
    -fx-background-color: linear-gradient(#0091d8, #17c0f2);
}

.button {
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
}

.button:hover, .choice-box:hover {
    -fx-font-color: white;
}
.choice-box {
    -fx-padding: 6 5 6 5;
}

.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 20px;
}

.chart-legend-item-symbol {
   -fx-background-radius: 5;
   -fx-stroke-width: 3;
}

.chart-legend-item {
    -fx-text-fill: #191970;
}

.chart-plot-background {
    -fx-background-color: #c5fffb;
}

.chart-vertical-grid-lines {
    -fx-stroke: #f5f0ff;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #f5f0ff;
}

.chart-alternative-row-fill {
    -fx-fill: white;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.text-field {
    -fx-accent: #17c0f2;
}

.text-area {
    -fx-accent: #17c0f2;
}

.axis:hover {
    -fx-cursor: hand;
    -fx-border-color: lightgray;
}
